{% macro nodeMenuItem(node) %}
  {% set items = [] %}
  {% set tmp %}<a onclick="alert('yes');">Button 1</a>{% endset %}{% set tmp = items.push(tmp) %}
  {% set tmp %}<a onclick="alert('yes indeed');">Button 2</a>{% endset %}{% set tmp = items.push(tmp) %}
  {% if node %}{% set tmp %}<a data-widget="bopWheelmenu" data-widget-wheelmenu-items="{{ nodeMenuItem('') }}">Button 3</a>{% endset %}{% set tmp = items.push(tmp) %}{% endif %}
  {% set tmp %}<a onclick="alert('yes');">Button 4</a>{% endset %}{% set tmp = items.push(tmp) %}
  {{ items | dump }}
{% endmacro %}
{% macro planningNode(node, planningProperties) %}
  <div class="widget-planning-node"
    data-widget-planning-node-type="{{ node.type }}"
    {% if node.color %}
      data-widget-planning-color="{{ node.color }}"
    {% endif %}
  >
    <div class="widget-planning-node-content">
      <div class="widget-planning-label">
        {{ node.name }}
      </div>
      <div class="widget-planning-calendar">
        <div class="widget-planning-weeks">
          {% for i in range(1, planningProperties.nbWeeks + 1) %}
            <div class="widget-planning-week">
              <div class="widget-planning-week-days">
                {% for j in range (1, 8) %}
                  <div {% if j >= 6 %}class="widget-planning-dayoff"{% endif %}></div>
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        </div>
        {% if node.type === 'summary' %}
          <div class="widget-planning-line">
            {% for item in node.data %}
              <div class="widget-planning-item"
                {% if item.color %}
                  data-widget-planning-color="{{ item.color }}"
                {% endif %}
                style="
                  left: {{ item.left }}px;
                  width: {{ item.width }}px;
                "
              >
                <div class="widget-planning-item-inner">
                  <div class="widget-planning-item-part">
                    <div class="widget-planning-item-txt">{{ item.label }}</div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% elif node.type === 'task' %}
          <div class="widget-planning-line">
            {% for stubGroup in node.stubGroups %}
              {% if stubGroup.previousEnd and stubGroup.previousEnd <= 0 %}
                {# There is something to the left, outis #}
                <div class="widget-planning-item"
                  style="
                    left: {{ stubGroup.previousEnd }}px;
                    width: {{ stubGroup.left - stubGroup.previousEnd }}px;
                  "
                >
                  <div class="widget-planning-split">
                    <div class="widget-planning-split-inner"></div>
                  </div>
                </div>
              {% endif %}
              <div class="widget-planning-item"
                style="
                  left: {{ stubGroup.left }}px;
                  width: {{ stubGroup.width }}px;
                "
              >
                <div class="widget-planning-item-inner">
                  <div class="widget-planning-item-part"
                    data-widget="bopWheelmenu"
                    data-widget-wheelmenu-items="{{ nodeMenuItem(node) }}"
                  >
                    <div class="widget-planning-task-txt-wrapper">
                      {{ stubGroup.label }}
                    </div>
                  </div>
                  {% for stub in stubGroup.stubs %}
                    {% if (not stub.on) and (not loop.last) and (stub.width != null) %}
                      <div
                        class="widget-planning-item-part widget-planning-item-part-off"
                        style="
                          left: {{ stub.left - stubGroup.left }}px;
                          width: {{ stub.width }}px;
                        "
                      ></div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
              {% if stubGroup.nextStart and stubGroup.nextStart > stubGroup.left + stubGroup.width %}
                <div class="widget-planning-item"
                  style="
                      left: {{ stubGroup.left + stubGroup.width }}px;
                      width: {{ stubGroup.nextStart - (stubGroup.left + stubGroup.width) }}px;
                    "
                >
                  <div class="widget-planning-split">
                    <div class="widget-planning-split-inner"></div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
    <div class="widget-planning-node-childs">
      {% if node.childs %}
        {% for child in node.childs %}
          {{ planningNode(child, planningProperties) }}
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endmacro %}
