{% macro renderCalendarContent(node) %}
  <div class="widget-planning-line">
    {% for item in node.calendarContent.items %}
      {% if item.type === 'summary' %}
        <div class="widget-planning-item"
          {% if item.color %}
            data-widget-planning-color="{{ item.color }}"
          {% endif %}
          style="
            left: {{ item.left }}px;
            width: {{ item.width }}px;
          "
        >
          <div class="widget-planning-item-inner">
            <div class="widget-planning-item-content">
              <div class="widget-planning-item-txt">{{ item.label }}</div>
            </div>
          </div>
        </div>
      {% elif item.type === 'tasksegment' %}
        <div class="widget-planning-item"
          style="
            left: {{ item.left }}px;
            width: {{ item.width }}px;
          "
        >
          <div class="widget-planning-item-inner">
            <div class="widget-planning-item-content"
              data-widget="bopWheelmenu"
              data-widget-wheelmenu-items="{{ nodeMenuItem(node) }}"
            >
              <div class="widget-planning-task-txt-wrapper">
                {{ item.label }}
              </div>
            </div>
            {% for dayOff in item.daysOff %}
              <div
                class="widget-planning-item-content widget-planning-item-content-off"
                style="
                  left: {{ dayOff.left - item.left }}px;
                  width: {{ dayOff.width }}px;
                "
              ></div>
            {% endfor %}
          </div>
        </div>
      {% elif item.type === 'tasksplit' %}
        <div class="widget-planning-item"
          style="
              left: {{ item.left }}px;
              width: {{ item.width }}px;
            "
        >
          <div class="widget-planning-split">
            <div class="widget-planning-split-inner"></div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endmacro %}
{% macro nodeMenuItem(node) %}
  {% set items = [] %}
  {% set tmp %}<a onclick="alert('yes');">Button 1</a>{% endset %}{% set tmp = items.push(tmp) %}
  {% set tmp %}<a class="disabled" onclick="alert('yes indeed');">Button 2</a>{% endset %}{% set tmp = items.push(tmp) %}
  {% if node %}{% set tmp %}<a data-widget="bopWheelmenu" data-widget-wheelmenu-items="{{ nodeMenuItem('') }}">Button 3</a>{% endset %}{% set tmp = items.push(tmp) %}{% endif %}
  {% set tmp %}<a onclick="alert('yes');">Button 4</a>{% endset %}{% set tmp = items.push(tmp) %}
  {{ items | dump }}
{% endmacro %}
<div class="widget-planning-node"
  data-widget-planning-node-type="{{ node.type }}"
  {% if node.object %}
    data-widget-planning-node-object-type="{{ node.object.type }}"
  {% endif %}
  {% if node.color %}
    data-widget-planning-color="{{ node.color }}"
  {% endif %}
>
  <div class="widget-planning-node-content">
    <div class="widget-planning-label">
      {{ node.object.name }}
    </div>
    <div class="widget-planning-calendar">
      <div class="widget-planning-weeks">
        {% for i in range(1, planningProperties.nbWeeks + 1) %}
          <div class="widget-planning-week">
            <div class="widget-planning-week-days">
              {% for j in range (1, 8) %}
                <div {% if j >= 6 %}class="widget-planning-dayoff"{% endif %}></div>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
      {% if node.calendarContent %}
        {{ renderCalendarContent(node) }}
      {% endif %}
    </div>
  </div>
  <div class="widget-planning-node-childs">
  </div>
</div>
