@mixin flex {
  align-items: center;
  display: flex;
}

@mixin flex-inline {
  align-items: center;
  display: inline-flex;
}

@mixin flex-v {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  height: 100%;
}

// @mixin flex-v-center {
//   align-items: center;
//   display: flex;
//   flex-direction: column;
//   height: 100%;
// }

@mixin flex-full-fix {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 0;
}

@mixin flex-fix {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}
