@mixin flex {
  display: flex;
  align-items: center;
}

@mixin flex-inline {
  display: inline-flex;
  align-items: center;
}

@mixin flex-v {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  height: 100%;
}

@mixin flex-full-fix {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}
@mixin flex-fix {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}
