{% if changeLocaleInformations %}
  <div data-widget="bopLocaleChange">
    {{ i18n.t('currentLocale') }}
    <a>
      {{ locale }}
    </a>
    <div class="hidden">
      <ul>
        {% for info in changeLocaleInformations %}
          <li><a href="{{ info.url }}">{{ info.language }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}
