<!DOCTYPE html>
{#- You can override webpackChunk in childs templates or in backends context -#}
{%- set webpackChunk = webpackChunk | default('main') -%}
{%- import "common/webpack.njk" as webpack -%}
<html lang="{{ lang }}" dir="{{ lang_dir }}" bop-context="{{ context | dump }}">
  <head>
    <meta charset="utf-8">
    <title>BOP</title>
    {{ webpack.stylesheets(webpackManifest, webpackChunk) }}
    {{ webpack.headScripts(webpackManifest, webpackChunk) }}
  </head>
  <body>
    <header>
      <div class="header-first-block">
        <h1>BOP</h1>
        <nav>
          <a href="/index" {% if currentPage === 'index' %}class="selected"{% endif %}>
            <span class="icon-home"></span>
            <span>{{ gettext('Home') }}</span>
          </a>
          <a href="/planning" {% if currentPage === 'planning' %}class="selected"{% endif %}>
            <span class="icon-planning"></span>
            <span>{{ gettext('Planning') }}</span>
          </a>
        </nav>
      </div>
      <div class="header-last-block">
        <a data-main-sidebar-open>&#x2630;</a>
      </div>
    </header>
    <div class="hidden"
      data-widget="bopSidebar"
      data-widget-sidebar-open="[data-main-sidebar-open]"
      data-widget-sidebar-close="[data-main-sidebar-close],[data-sidebar-close]"
    >
      <div class="sidebar-wrapper">
        <div class="sidebar-header">
          <h1>BOP</h1>
          <div data-sidebar-close>&rarr;</div>
        </div>
        <div class="sidebar-content">
          <ul>
            {% if not isProduction %}
            <li>
              <label>
                <input type="checkbox" checked="checked" data-auto-reload-dev-mode>
                Auto reload
              </label>
            </li>
            {% endif %}
            {% if changeLocaleInformations %}
            <li data-main-sidebar-close>
              {% include "common/locale.njk" %}
            </li>
            {% endif %}
            <li>
              <a href="/logout">{{ gettext('Logout') }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="page-content">
      {% block content %}{% endblock %}
    </div>
    {{ webpack.bodyScripts(locale, webpackManifest, webpackChunk) }}
  </body>
</html>
