<!DOCTYPE html>
{%- import "common/webpack.njk" as webpack -%}
<html lang="{{ lang }}" dir="{{ lang_dir }}" bop-context="{{ context | dump }}">
  <head>
    <meta charset="utf-8">
    <title>BOP</title>
    {{ webpack.stylesheets(webpackManifest, 'main') }}
    {{ webpack.headScripts(webpackManifest, 'main') }}
  </head>
  <body>
    <header>
      <div class="header-first-block">
        <h1>BOP</h1>
        <nav>
          <a href="/index" {% if currentPage === 'index' %}class="selected"{% endif %}>
            <span class="icon-home"></span>
            <span>{{ gettext('Home') }}</span>
          </a>
          <a href="/planning" {% if currentPage === 'planning' %}class="selected"{% endif %}>
            <span class="icon-planning"></span>
            <span>{{ gettext('Planning') }}</span>
          </a>
        </nav>
      </div>
      <div class="header-last-block">
        <a main-sidebar-open>&#x2630;</a>
      </div>
    </header>
    <div class="hidden" widget-sidebar widget-sidebar-open="[main-sidebar-open]" widget-sidebar-close="[main-sidebar-close],[sidebar-close]">
      <div class="sidebar-wrapper">
        <div class="sidebar-header">
          <h1>BOP</h1>
          <div sidebar-close>&rarr;</div>
        </div>
        <div class="sidebar-content">
          <ul>
            {% if not isProduction %}
            <li>
              <label>
                <input type="checkbox" checked="checked" auto-reload-dev-mode>
                Auto reload
              </label>
            </li>
            {% endif %}
            {% if changeLocaleInformations %}
            <li main-sidebar-close>
              {% include "common/locale.njk" %}
            </li>
            {% endif %}
            <li>
              <a href="/logout">{{ gettext('Logout') }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="h-full w-full">
      {% block content %}{% endblock %}
    </div>
    {{ webpack.bodyScripts(locale, webpackManifest, 'main') }}
  </body>
</html>
