{% macro stylesheets(webpackManifest, name) %}
  {{ webpackManifest.favicons() | safe }}
  {% for url in webpackManifest.stylesheetUrls(name) %}
    <link rel="stylesheet" href="{{ url }}">
  {% endfor %}
{% endmacro %}
{% macro headScripts(webpackManifest, name) %}
  <script>{{ webpackManifest.headerScriptTxt(name) | safe }}</script>
{% endmacro %}
{% macro bodyScripts(locale, webpackManifest, name) %}
  {% for url in webpackManifest.scriptUrls(name, locale) %}
    <script src="{{ url }}"></script>
  {% endfor %}
{% endmacro %}
