.planning-header {
  @include flex;

  height: 45px;

  &>* {
    height: 100%;
  }

  .planning-label {
    @include flex-fix;

    border: solid 1px $border-color-light;
    width: 300px;
  }

  .planning-dates {
    @include flex-full-fix;
    @include flex;

    border: solid 1px $border-color-light;

    .planning-week {
      @include flex-v;

      .planning-week-label {
        @include flex-v;
      }

      .planning-week-days {
        @include flex;
  
        &>* {
          @include flex-fix;

          width: 45px;
        }
      }
    }

  }
}

.planning-content {
  @include v-scroll;

  .planning-line {
    @include flex;
  
    height: 45px;
  
    &>* {
      height: 100%;
    }
  }
}
