<!DOCTYPE html>
{%- import "common/webpack.njk" as webpack -%}
{%- import "common/locale.njk" as commonLocale -%}
<html lang="{{ lang }}" dir="{{ lang_dir }}" bop-context="{{ context | dump }}">
  <head>
    <meta charset="utf-8">
    <title>BOP</title>
    {{ webpack.stylesheets(webpackManifest, 'main') }}
    {{ webpack.headScripts(webpackManifest, 'main') }}
  </head>
  <body>
    {% if not isProduction %}
      <label>
        <input type="checkbox" checked="checked" auto-reload-dev-mode>
        Auto reload
      </label>
      <br>
    {% endif %}
    Here we go!
    {% if changeLocaleInformations %}
      <div>
        {{ commonLocale.localeButtons(changeLocaleInformations) }}
      </div>
    {% endif %}
    <div>
      <a href="/logout">{{ gettext('Logout') }}</a>
    </div>
    {{ webpack.bodyScripts(webpackManifest, 'main') }}
  </body>
</html>
