<!DOCTYPE html>
{%- import "common/webpack.njk" as webpack -%}
<html lang="{{ lang }}" dir="{{ lang_dir }}" bop-context="{{ context | dump }}">
  <head>
    <meta charset="utf-8">
    <title>BOP</title>
    {{ webpack.stylesheets(webpackManifest, 'main') }}
    {{ webpack.headScripts(webpackManifest, 'main') }}
  </head>
  <body>
    <header>
      <h1>BOP</h1>
      {% if not isProduction %}
        <label>
          <input type="checkbox" checked="checked" auto-reload-dev-mode>
          Auto reload
        </label>
        <br>
      {% endif %}
      {% if changeLocaleInformations %}
        <div>
          {% include "common/locale.njk" %}
        </div>
      {% endif %}
      <div>
        <a href="/logout">{{ gettext('Logout') }}</a>
      </div>
    </header>
    <div>
      Here we go!
    </div>
    {{ webpack.bodyScripts(webpackManifest, 'main') }}
  </body>
</html>
