<!DOCTYPE html>
{%- import "common/webpack.njk" as webpack -%}
{%- import "common/locale.njk" as commonLocale -%}
<html lang="{{ lang }}" dir="{{ lang_dir }}" bop-context="{{ context | dump }}">
  <head>
    <meta charset="utf-8">
    <title>BOP</title>
    {{ webpack.stylesheets(webpackManifest, 'login') }}
    {{ webpack.headScripts(webpackManifest, 'login') }}
  </head>
  <body>
    <form action="" method="POST">
      <label>
        {{ gettext('Login') }}
        <input type="text" name="login" placeholder="{{ gettext('Login') }}" required value="{{ login }}">
      </label>
      <label>
        {{ gettext('Password') }}
        <input type="password" name="password" placeholder="{{ gettext('Password') }}" required>
      </label>
      {% if loginFailed %}
        {{ gettext('Login failed.') }}
      {% endif %}
      <input type="hidden" name="loginForm" value="1">
      <input type="submit">
    </form>
    {% if changeLocaleInformations %}
      <div>
        {{ commonLocale.localeButtons(changeLocaleInformations) }}
      </div>
    {% endif %}
    {{ webpack.bodyScripts(webpackManifest, 'login') }}
  </body>
</html>
