<!DOCTYPE html>
{%- import "common/webpack.njk" as webpack -%}
{%- import "common/locale.njk" as commonLocale -%}
<html lang="{{ lang }}" dir="{{ lang_dir }}" bop-context="{{ context | dump }}">
  <head>
    <meta charset="utf-8">
    <title>BOP</title>
    {{ webpack.stylesheets(webpackManifest, 'login') }}
    {{ webpack.headScripts(webpackManifest, 'login') }}
  </head>
  <body>
    <div class="v-scroll h-full">
      <div class="flex flex-v">
        <div class="flex-full-fix">
          <section class="flex flex-v login-content">
            <h1>{{ gettext('Sign in to BOP') }}</h1>
            <form action="" method="POST" class="login-form">
              <div class="flex flex-v">
                <input type="text" name="login" placeholder="{{ gettext('Login') }}" required value="{{ login }}">
                <input type="password" name="password" placeholder="{{ gettext('Password') }}" required>
                {% if loginFailed %}
                  <div class="error">
                    {{ gettext('Login failed.') }}
                  </div>
                {% endif %}
                <input type="hidden" name="loginForm" value="1">
                <input type="submit" value="{{ gettext('Sign in') }}">
              </div>
            </form>
          </section>
        </div>
        <footer class="flex-fix">
          {% if changeLocaleInformations %}
            <div>
              {{ commonLocale.localeButtons(changeLocaleInformations) }}
            </div>
          {% endif %}
        </footer>
      </div>
    </div>
    {{ webpack.bodyScripts(webpackManifest, 'login') }}
  </body>
</html>
