<!DOCTYPE html>
{%- import "common/webpack.njk" as webpack -%}
<html lang="{{ lang }}" dir="{{ lang_dir }}" bop-context="{{ context | dump }}">
  <head>
    <meta charset="utf-8">
    <title>BOP</title>
    {{ webpack.stylesheets(webpackManifest, 'login') }}
    {{ webpack.headScripts(webpackManifest, 'login') }}
  </head>
  <body>
    <div class="login-content">
      <h1>{{ gettext('Sign in to BOP') }}</h1>
  
      <section>
        <form action="" method="POST" class="login-form">
          <input type="text" name="login" placeholder="{{ gettext('Login') }}" required value="{{ login }}">
          <input type="password" name="password" placeholder="{{ gettext('Password') }}" required>
          {% if loginFailed %}
            <div class="error">
              {{ gettext('Login failed.') }}
            </div>
          {% endif %}
          <input type="hidden" name="loginForm" value="1">
          <input type="submit" value="{{ gettext('Sign in') }}">
        </form>
      </section>
  
      <footer>
        {% if changeLocaleInformations %}
          <div>
            {% include "common/locale.njk" %}
          </div>
        {% endif %}
      </footer>
    </div>

    {{ webpack.bodyScripts(locale, webpackManifest, 'login') }}
  </body>
</html>
