{%- set webpackChunk = 'planning' -%}
{%- extends 'common/page.njk' -%}
{%- import 'shared/templates/planning/render.njk' as render -%}
{%- block content -%}
  <div data-widget="bopPlanning">
    <div class="waiting-mask"></div>
  </div>
{%- endblock -%}
