{%- extends 'common/page.njk' -%}
{%- block content -%}
  {% set nbweeks = 9 %}
  {% set nblines = 90 %}
  <div class="widget-planning">
    <div class="widget-planning-container">
      <div class="widget-planning-header">
        <div class="widget-planning-label">
          Title...
        </div>
        <div class="widget-planning-dates">
          {% for i in range(1, nbweeks) %}
            <div class="widget-planning-week">
              <div class="widget-planning-week-label">
                <div>S0{{ i }}.</div>
                <div>Jan.</div>
              </div>
              <div class="widget-planning-week-days">
                {% for j in range (1, 8) %}
                  <div>{{ (7 * (i - 1)) + j }}</div>
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="widget-planning-content">
        {% for i in range(1, nblines) %}
          <div class="widget-planning-line">
            <div class="widget-planning-label">
              Resource {{ i }}
            </div>
            <div class="widget-planning-data">
              {% for i in range(1, nbweeks) %}
                <div></div>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{%- endblock -%}