$color-base: #000;
$color-error: #f00;
$color-filled: #fff;

$border-color-dark: #000;
$border-color-light: rgba(0, 0, 0, 0.06);
$border-color-filled-light: rgba(255, 255, 255, 0.15);

$background-color-disabled: rgb(128, 128, 128);
$background-color-empty: #fff;
$background-color-light: #f2f2f2;
$background-color-light-hover: #f6f6f6;
$background-color-filled: #4268d5;
$background-color-filled-light: rgba(255, 255, 255, 0.15);

$hover-transition-time: 150ms;

$background-stripes-width: 5px;

$waiting-wheel-border-color1: rgba(0, 0, 0, 0.1);
$waiting-wheel-border-color2: rgba(0, 0, 0, 0.5);

$waiting-mask-background-color: rgba(255, 255, 255, 0.6);
