@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'common/common';
@import 'widgets/locale';

body {
  @include v-scroll;
}

.login-content {
  @include flex-v;

  height: 100%;
  margin: auto;
  max-width: 380px;

  &>h1 {
    text-align: center;
  }

  &>footer {
    @include flex-fix;

    border-top: solid 1px $border-color-light;
    padding: 14px 16px;
    text-align: center;
  }
}

.login-form {
  @include flex-v;

  border: solid 1px $border-color-dark;
  padding: 40px;
}
