@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'common/common';
@import 'widgets/locale';

.login-content {
  margin: auto;
  max-width: 380px;

  h1 {
    text-align: center;
  }
}

.login-form {
  border: solid 1px;
  border-color: $border-color-dark;
  padding: 40px;
}

footer {
  border-top: solid 1px $border-color-light;
  padding: 14px 16px;
}
