@import 'common/common';
@import 'common/error';
@import 'common/flex';
@import 'common/scroll';
@import 'common/size';
@import 'common/variables';
@import 'widgets/locale';

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

header {
  @extend %flex;
  background-color: $background-color-filled;
  border-bottom: solid 1px $border-color-dark;
  color: $color-filled;

  h1 {
    font-size: 2rem;
  }
}
