@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'common';
@import 'widgets';

@import 'planning';

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

header {
  @include flex;
  background-color: $background-color-filled;
  border-bottom: solid 1px $border-color-dark;
  color: $color-filled;

  h1 {
    border-right: solid 1px $border-color-filled-light;
    font-size: 2rem;
    padding: 0 20px;
  }

  nav {
    @include flex;

    a {
      @include flex;
      color: $color-filled;
      height: 42px;
      margin-left: 5px;
      margin-right: 5px;
      min-width: 42px;
      position: relative; // FIXME: keep?
      text-align: center;
      text-decoration: none;

      &>* {
        margin: 0 5px;
      }

      &.selected {
        font-weight: bold;

        &::before {
          background-color: $background-color-empty;
          bottom: -2px;
          content: '';
          height: 3px;
          left: 0;
          position: absolute;
          right: 0;
        }
      }

      &:hover {
        background-color: $background-color-filled-light;
        border-radius: 21px;
        transition: $hover-transition-time;
      }
    }
  }

  .header-first-block {
    @include flex-full-fix;
    @include flex;
    padding: 0 20px;
  }

  .header-last-block {
    @include flex-fix;
    border-left: solid 1px $border-color-filled-light;
    padding: 0 20px;
  }

  [main-sidebar-open] {
    @include button-picto;
    font-size: 2rem;
    padding: 0 5px;
    transition: $hover-transition-time;

    &:hover {
      background-color: $background-color-filled-light;
    }
  }
}

.page-content {
  height: 100%;
  width: 100%;
}
