.widget-planning {
  bottom: 50px; // to let space for horizontal scrollbar.
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.widget-planning-container {
  height: 100%;
  overflow-x: scroll;
  overflow-y: auto;
  position: relative;
  width: 100%;
}

/**
  .widget-planning-header is the title line for the planning widget.
*/
.widget-planning-header {
  @include flex;

  background-color: $background-color-empty;
  height: 45px;
  position: sticky;
  top: 0;
  z-index: 2; // in order to be on front of the sticky left column

  &>* {
    height: 100%;
  }

  /**
    The right part title line
  */
  .widget-planning-calendar {
    border: solid 1px $border-color-light;

    /**
      title for one week
    */
    .widget-planning-week {
      @include flex-v;

      .widget-planning-week-label {
        @include flex;
        @include flex-full-fix;
      }

      .widget-planning-week-days {
        @include flex-fix;

        text-align: center;
      }
    }
  }
}

/**
  Planning data zone.
*/
.widget-planning-content {
  /**
    One line
  */
  .widget-planning-node-line {
    @include flex;
  
    height: 45px;
  
    &>* {
      height: 100%;
    }

    .widget-planning-calendar {
      .widget-planning-week {
        height: 100%;
      }
    }

    .widget-planning-week-days {
      height: 100%;

      &>* {
        @include flex-full-fix;

        height: 100%;
      }

      .widget-planning-dayoff {
        background: repeating-linear-gradient(
          -45deg,
          $background-color-empty,
          $background-color-empty $background-stripes-width,
          $background-color-light $background-stripes-width,
          $background-color-light ($background-stripes-width * 2)
        );
      }
    }
  }
}

/**
  .widget-planning-label: the left column content.
  Common part between title and lines.
*/
.widget-planning-label {
  @include flex-fix;

  background-color: $background-color-empty;
  border: solid 1px $border-color-light;
  position: sticky;
  left: 0;
  width: 300px;
}

.widget-planning-node-childs {
  .widget-planning-label {
    padding-left: 45px;
  }

  .widget-planning-node-childs {
    .widget-planning-label {
      padding-left: 90px;
    }
  }
}

/**
  The right part (the calendar).
*/
.widget-planning-calendar {
  @include flex-full-fix;
  @include flex;
}

/**
  .widget-planning-week-days: contain one div per day.
*/
.widget-planning-week-days {
  @include flex;

  &>* {
    border: solid 1px $border-color-light;
    width: 45px;
  }
}
