.sidebar-wrapper {
  @include flex-v;
  background-color: $background-color-light;
  border: solid 1px $border-color-dark;
  height: 100%;
  position: relative;
  overflow: auto;
}

.sidebar-header {
  @include flex;
  background-color: $background-color-filled;
  border-bottom: solid 1px $border-color-dark;
  color: $color-filled;
  padding: 0 20px;

  h1 {
    @include flex-full-fix;
  }

  [sidebar-close] {
    @include flex-fix;
    @include button-picto;

    border-left: solid 1px $border-color-filled-light;
    font-weight: bolder;
    font-size: 2rem;
    padding: 20px 20px;
    transition: 150ms;

    &:hover {
      background-color: $background-color-filled-light;
    }
  }
}

.sidebar-content {
  ul {
    @include flex-v;
  }

  li {
    padding: 20px;
  }

  li:hover {
    background-color: $background-color-light-hover;
  }
}
