@import '../abstracts/variables';
@import '../abstracts/mixins';

$widget-wheelmenu-background-color: rgba(128, 128, 128, .3);
$widget-wheelmenu-zindex: 200;

$widget-wheelmenu-item-background-color: $background-color-filled;
$widget-wheelmenu-item-border-color: $border-color-dark;

.widget-wheelmenu-overlay {
  background-color: $widget-wheelmenu-background-color;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: $widget-wheelmenu-zindex;
}

.widget-wheelmenu-content {
  height: 0;
  position: absolute;
  width: 0;

  li {
    background-color: $widget-wheelmenu-item-background-color;
    border: 1px solid $widget-wheelmenu-item-border-color;
    position: absolute;
    white-space: nowrap;
    z-index: $widget-wheelmenu-zindex + 1;
  }
}
