@import '../abstracts/variables';
@import '../abstracts/mixins';

$widget-wheelmenu-background-color: rgba(128, 128, 128, .7);
$widget-wheelmenu-zindex: 200;

$widget-wheelmenu-item-background-color: $background-color-filled;
$widget-wheelmenu-item-border-color: $border-color-dark;

.widget-wheelmenu-overlay {
  background-color: $widget-wheelmenu-background-color;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: $widget-wheelmenu-zindex;
}

.widget-wheelmenu-content {
  height: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 0;

  &>* {
    background-color: $widget-wheelmenu-item-background-color;
    border: 1px solid $widget-wheelmenu-item-border-color;
    border-radius: 50%;
    padding: 20px;
    position: absolute;
    white-space: nowrap;
    z-index: $widget-wheelmenu-zindex + 1;

    &:focus {
      border-width: 2px;
    }

    &.disabled {
      background-color: $background-color-disabled;
    }
  }
}

@keyframes wheelmenu-rotation {
  0% { transform: rotate(0deg) scale(.1, .1); }
}
